[Unit]
Description=NMS POC dedicated Podman network (nms-platform-foundation)

[Network]
NetworkName=nms
Driver=bridge

[Install]
WantedBy=default.target
